*{
  box-sizing: border-box;
}




.tapped{
  opacity:0;
}


.wronged{
  background-color: black;
  color: black;

}
[class*="col-"] {
  float: left;
  padding: 15px;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.posDiv{
  width: 582px;
  height: 470px;
  position: relative;
  margin: 0 auto;

}

.container,.lookControl{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body{
  text-align: center;
  /*background-color:#323232;*/
}
.timerr{
  text-align: center;
  padding: 5px;
  display: inline-block;
  background-color: #323232;
  color: white;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;

}
.leaderboard{
  text-align: center;
  padding: 5px;
  display: inline-block;
  background-color: #323232;
  color: white;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;



}
.details{
  padding:8px;
  text-align: center;
  background-color: #323232;
  color: red ;
  font-size: 18px;


}
#detail{
  margin-top: 30px;
  display: inline-block;
  border: solid 2px white ;
  padding:10px;
  background-color: #000000;
  color: blue;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  line-height:150%;
}
#ng{
  border: solid 2px white;
  font-family: 'Press Start 2P', cursive;
}
.container{
  padding: 10px;
  display: inline-block;
  background-color: #fa744f;
  visibility: visible;
  background-color: #000000;
  border-style: solid 10px black;
  border-radius: 20px;
  box-shadow: 0 0 15px white;
  font-family: 'Lobster', cursive;


}
.num{
  height: 100px;
  width: 100px;
  margin: 4px;
  background-color: #400082;
  color: white;
  border-radius: 20px;
  font-size:50px;
  border: solid 3px white;
  box-shadow: 0 0 4px white;
  font-weight: 900;
  font-family: 'Lobster', cursive;



}
.cover{
  background-color: black;
  visibility: hidden;

}
.lookControl{
  background-color: #000000;
  font-size: 80px;
  color: red;
  border-style: solid 10px black;
  border-radius: 20px;
  box-shadow: 0 0 15px white;
  font-family: 'Lobster', cursive;




}
#ng{
  height: 60px;
  width: 200px;
  border-radius: 20px;
  background-color: #000000;
  margin-top:10px;
  color: #ea6227;
  font-size:20px;
  font-weight: 700;
  border: solid 4px white;
}
.styleButtons{
  height: 60px;
  width: 140px;
  border-radius: 20px;
  background-color: #000000;
  color: red;
  font-size:20px;
  margin: 3px;
  margin-top: 20px;
  font-weight: 700;
  border: solid 4px white;
  font-family: 'Press Start 2P', cursive;
}
.tapped{
  opacity:0;
}

.lookControl1{
  margin-top: 150px;
  display: inline-block;
}
.wronged{
  background-color: black;
  color: black;

}
@media screen and (max-width: 1024px) and (min-width:320px) {
  
  [class*="col-"]{
    width:100%;
}
}

